**Dataset**

In [4]:
import pandas as pd

data = pd.read_csv('ilustrasidata.csv')
data

   Rumah  Lat  Long     Lokasi
0      A   11    26       Kota
1      B   15    29       Kota
2      C   19    28       Kota
3      D   18    30       Kota
4      E   16    26       Kota
5      F   23    25  Kabupaten
6      G   25    22  Kabupaten
7      H   21    24  Kabupaten
8      I   23    25  Kabupaten
9      J   29    24  Kabupaten
10     X   19    25          ?

**Perhitungan**

In [16]:
import numpy as np
from scipy.spatial import distance

rumah_x = {'Lat': 17, 'Long': 28} # Koordinat acak Rumah X

data['Distance_to_X'] = data.apply(lambda row: distance.euclidean((row['Lat'], row['Long']), (rumah_x['Lat'], rumah_x['Long'])), axis=1)

nearest_neighbors = data.sort_values(by='Distance_to_X').head(3)
nearest_neighbors[['Rumah', 'Lat', 'Long', 'Lokasi', 'Distance_to_X']]

  Rumah  Lat  Long Lokasi  Distance_to_X
2     C   19    28   Kota       2.000000
1     B   15    29   Kota       2.236068
3     D   18    30   Kota       2.236068

**Prediksi Lokasi Rumah X**

In [18]:
prediksi = nearest_neighbors['Lokasi'].mode()[0]
print(f"Rumah X diprediksi berada di: {prediksi}")

Rumah X diprediksi berada di: Kota